html,
body {
	box-sizing: border-box;
	width: 50%;
}

dl {
	box-sizing: border-box;
}

body {
	width: 100%;
	padding: 1em;
}

header,
footer {
	padding: 1em;
	border-top: 1px solid lightgrey;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

h1 {
	grid-area: span;
	/* font-size: 24pt; */
}

dt {
	font-style: italic;
}

dd {
	text-align: justify;
}

dd > img {
	min-width: 57%;
	max-width: 100%;
	margin: 1em 0;
}

a {
	color: dodgerblue;
	text-decoration: 1px dodgerblue solid underline;
}

a:visited {
	color: royalblue;
	text-decoration-color: royalblue;
}

form > div {
	margin-bottom: 1em;
}

label,
input,
.links > a {
	display: block;
}

@media only screen and (max-width: 765px) {
	html,
	body {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	body {
		padding: 0.4em;
	}

	dd {
		margin-top: 0.4em;
		margin-inline-start: 0;
	}

	header > div:nth-child(first) {
		text-align: center;
	}

	footer,
	footer > div,
	header {
		display: block;
	}

	footer > div {
		margin-top: 0.5em;
		padding-bottom: 0.5em;
		border-bottom: 1px solid lightgrey;
	}

	section {
		width: auto;
	}

	img {
		width: 100%;
	}
}
