@import "fonts/ptsansweb/PTC55F_stylesheet.css";
@import "fonts/ptsansweb/PTS55F_stylesheet.css";
@import "fonts/ptmonoweb/PTM55F_stylesheet.css";
.center-text,
header,
footer {
  text-align: center;
}
html {
  box-sizing: border-box;
  font-family: 'PTSansRegular', Arial, Helvetica, sans-serif;
  background-color: #f9f8f7;
  color: #2e2e2e;
  font-size: 10pt;
}
small {
  font-size: smaller;
}
body {
  margin: auto;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  body {
    justify-content: center;
    max-width: 70%;
  }
}
body main {
  width: 100%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
.vmargin-3rem,
body main,
header,
footer {
  margin: 3rem 0;
}
header img {
  height: 50vw;
  width: 50vw;
  border: 1px solid #e3dfda;
  margin-bottom: 1rem;
  object-fit: cover;
  object-position: 0 -20px;
}
@media screen and (min-width: 1280px) {
  header img {
    height: 13rem;
    width: 13rem;
  }
}
header h1 {
  font-size: 2.5rem;
}
main nav.stuff-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: auto;
}
main nav.stuff-grid section {
  margin: 1rem 0;
}
main nav.stuff-grid section h1 {
  font-family: 'PTSansCaption', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
main nav.stuff-grid section ul.links-list li {
  margin: 0.6rem 0;
}
main nav.stuff-grid section ul.links-list li::before {
  content: '🔗';
  margin-right: 0.4rem;
}
@media screen and (min-width: 1280px) {
  main nav.stuff-grid {
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
  }
  main nav.stuff-grid section {
    width: auto;
    margin: 1rem;
  }
}
footer ul.minilist {
  margin-top: 0.2rem;
}
ul.minilist {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
span.mono {
  font-family: 'PTMonoRegular';
}
a[href] {
  color: dodgerblue;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 0.1s ease;
}
a[href]:visited {
  color: #6bb6ff;
}
a[href]:visited:hover {
  border-bottom-color: #6bb6ff;
}
a[href]:hover {
  border-bottom-color: dodgerblue;
}
