:root {
  --background: #f9f8f7;
  --background-accent: rgb(238, 238, 238);
  --foreground: #444;
  --foreground-dim: #ccc;
  --magic-constant: 1rem;
  --magic-constant-double: calc(var(--magic-constant));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #444;
    --background-accent: #888;
    --foreground: #f9f8f7;
    --foreground-dim: rgb(214, 214, 214);
  }
}

html {
  background-color: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
  font-family: "Arial", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

header {
  height: 60vh;
  width: 100% - var(--magic-constant-double);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 var(--magic-constant-double) var(--magic-constant-double);
  margin: 0 var(--magic-constant);
  background: linear-gradient(to bottom, rgb(0, 225, 255), rgb(255, 0, 221)),
    linear-gradient(to left, rgb(255, 255, 255), rgb(0, 195, 255)),
    linear-gradient(to top, rgb(255, 255, 255), rgb(39, 27, 90));
  background-blend-mode: multiply;
}

header h1,
header h2 {
  color: white;
}

header h1 {
  font-weight: 900;
  font-size: 60pt;
}

header h2 {
  margin-top: var(--magic-constant-double);
  font-weight: 200;
  font-style: italic;
  font-size: 30pt;
  text-align: center;
}

small {
  font-size: 0.8em;
}

main {
  column-gap: var(--magic-constant);
  padding: var(--magic-constant);
}

img {
  color: var(--foreground-dim);
  background-color: var(--background-accent);
  display: inline-block;
  margin: 0 0 var(--magic-constant);
  width: 100%;
  border-radius: var(--magic-constant);
}

span#loading {
  width: 100%;
  margin: 0 auto;
  height: 40vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 60pt;
}

span#loading::before {
  content: "🙀";
  animation: rotate 0.1s linear infinite alternate;
}

@media screen and (min-width: 720px) {
  main {
    column-count: 2;
  }
}

@media screen and (min-width: 1000px) {
  main {
    column-count: 3;
  }
}

@media screen and (min-width: 1680px) {
  main {
    column-count: 4;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-10px, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(10px, 0);
  }
}
