:root
{
	--color: black;
	--bg-color: rgb(230, 218, 207);
	--bg-elevated: rgb(255, 255, 255);
	--border-color: rgb(173, 147, 147);
	--footer-color: rgb(173, 163, 155);
	--footer-bg-color: --bg-color;
	--link-color: dodgerblue;

	--md-border: 2px solid var(--border-color);
}

/* @media (prefers-color-scheme: dark)
{
	:root
	{
		--color: white;
		--bg-color: rgb(31, 31, 31);
		--bg-elevated: rgb(54, 54, 54);
		--border-color: rgb(70, 70, 70);
		--footer-color: gray;
		--footer-bg-color: black;
		--link-color: dodgerblue;
	}
} */

body
{
	color: var(--color);
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: var(--bg-color);
}

div.profile
{
	--vertical-space: 1rem;
	--side-margin: 3.5rem;

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
	grid-gap: var(--vertical-space);
	padding: var(--vertical-space) var(--side-margin);

	position: absolute;
	top: 50%;
	left: 50%;

	background-color: var(--bg-elevated);
	border: var(--md-border)
}

div.profile > h1
{
	grid-row: 2;
	letter-spacing: 0.075rem;
	text-align: center;
}

.portrait
{
	grid-row: 1;
	display: block;
	margin: auto;
	width: 100px;
	border-radius: .25rem;
}

.floating-image
{
	display: block;
	position: absolute;

	/* left: 100%; */
	/* top: 20%; */
	
	transform: translate(-25%, -87%);
	/* background-color: red; */
	height: 350px;
}

@media screen and (max-width: 720px) {
	.floating-image { height: 230px; }
}

/* 
 * Social icons classes set
 */

.social-row
{
	--icon-size: 25px;
	margin: auto;
	grid-row: 3;
}

.social-icon-anchor
{
	width: var(--icon-size);
	height: var(--icon-size);
	display: inline-block;
	text-decoration: none;
	margin-left: 1rem;
}

.social-icon-anchor:nth-child(1)
{	margin-left: 0; }

.social-icon
{
	width: var(--icon-size);
	height: var(--icon-size);
}

/*
 * Global anchors rules
 */

a:not(.social-icon-anchor)
{
	text-decoration: none;
	color: var(--link-color);
	position: relative;
	margin-right: 12px;
}

a:not(.social-icon-anchor)::before
{
	content: url(s/link-solid.svg);
	position: absolute;
	display: block;
	width: 13px;
	height: 13px;
	opacity: .2;
	top: 1px;
	right: -14px;
}

a:not(.social-icon-anchor):hover
{
	border-bottom: 1px solid dodgerblue;
}

/* 
 * Utility classes
 */

.center-anchor { -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
